@font-face {
  font-family: nunito;
  src: url(nunitofont/Nunito-Regular.ttf);
}

* {
  font-family: nunito;
} 

.nav-bar {
  background: linear-gradient(-90deg, rgb(233, 196, 76), rgb(214, 90, 18));
  height: 60px;
  margin-bottom: 15px;
}

.plan {
  border-radius: 5px;
  box-shadow: -2px 2px 5px #000000;
  text-align: center;
  width: 50%;
  background-color: rgb(243, 213, 130);
  margin: 4px;
}

.plan:hover {
  background-color: rgb(235, 203, 60);
}
